<ul>
  <% tracksArray.forEach(track => { %>
  <li>
    <h2><%= track.name %></h2>
    <audio controls>
      <source src="<%= track.preview_url %>" type="audio/mp3" />
    </audio>
  </li>
  <% }); %>
</ul>
